{{# if session.isAuthenticated}}
    <p>
        <a {{ action 'invalidateSession' }}>Logout</a>
    </p>
{{else}}
    <p>
        <a {{ action 'sessionRequiresAuthentication' }}>Login</a>
    </p>
{{/if}}